version: 2
jobs:
  build:
    docker:
      - image: mfiqrizalvi/wyrd_docker:latest
    steps:
      - checkout
      - run: apt-get -y update && apt-get -y upgrade
      - run: wget https://raw.githubusercontent.com/mfiqrizalvi/build-script/master/circleci/rolex/rolex-gcc.sh
      - run: bash rolex-gcc.sh